@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;
}

ul{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
li{
    list-style-type: none;
}

nav a {
    text-decoration: none;
    margin-left: 20px;
    color: hsl(257, 7%, 63%);
    font-weight: bolder;
}

a{
    text-decoration: none;
}

.button{
    background: hsl(180, 66%, 49%);
    color: white;
    padding: 0.4rem 1rem;
    border-radius: 25px;
    font-weight: bold;
}

section{
    height: 60vh;
    padding: 2rem 5rem;
}

#accueil{
    position: relative;
    display: flex;
    border: 1px solid blue;
}

#accueil img{
    width: 60%;
    height: 300px;
    object-fit: cover;
    transform: translate(30%);
}

h2{
    font-size: 55px;
    line-height: 4rem;
}

h4{
    color: hsl(257, 7%, 63%);
    font-weight: 500;
}

.link-bar{
    position: absolute;
    bottom: 0;
    left: 0;
    right:0;
    margin-left: 5rem;
    margin-right: 5rem;
    transform : translateY(50%);
    background-image: url('./images/bg-shorten-desktop.svg');
    background-size: cover;
    background-position: center;
    padding: 2rem 5rem;
    background-color: hsl(260, 8%, 14%);
    border-radius: 10px;
    
    
}

.link-bar input{
    width: 40vw;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    border: none;
    font-family: inherit;
    margin-right: 15px;
}

.link-bar button{
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    font-family: inherit;
}
#statistics{
    min-height: 100vh;
    background: rgb(228, 227, 227);
}
#statistics h3{
    margin: 4rem auto 0.5rem;
    font-size: 32px;
    text-align: center;
}
.track {
    text-align: center;
    color: hsl(257, 7%, 63%);
    font-weight: 500;
}
.container-box{
    display: flex;
    margin-top: 60px;
}
.box{
    background: white;
    position: relative;
    padding: 4rem 1.5rem 1.5rem;
    height: 35vh;
}
.box:not(last-child){
    margin-right: 20px;
    
}
.b2{
    margin-top: 30px;
}
.b3{
    margin-top: 60px;
}
.box p{
    color: hsl(257, 7%, 63%);
    font-size: 15px;
}
.box h4{
    color: hsl(260, 8%, 14%);
    font-weight: 700;
    margin-bottom: 1rem;
}
.box img{
    position: absolute;
    top: 0;
    left:0;
    transform: translate(50%, -50%);
    background-color: hsl(260, 8%, 14%);
    padding: 1rem;
    border-radius: 50%;
}

#boost{
    height: 20vh;
    background-image: url('./images/bg-shorten-desktop.svg');
    background-size: cover;
    background-position: center;
    padding: 2rem 5rem;
    background-color: hsl(260, 8%, 14%);
}
#boost h2{
    color: white;
    text-align: center;
    font-size: 32px;
}
#boost a {
    margin: 0 auto;
    display: block;
    width: 130px;
}

